<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasakhir.turnamensiamember">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".View.Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Authentication.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Account.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Team.TeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Tournament.TournamentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Schedule.ScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Registration.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.LiveMatch.LiveMatchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Comment.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Organizer.Tournament.OTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Organizer.Match.OMatchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Organizer.Team.OTeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Organizer.Team.OQrCodeResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Organizer.QRScanner.QRScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MyTournament.MyTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MyRegistration.MyRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MyRegistration.RegistrationConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MainTeam.MainTeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MyTournament.MyQrCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>